*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
body{
    background-color: wheat;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}
.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: auto;
    background-color: red;
}
.logo_container{
    height: 100;
    display: table;
    float: left;
}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Righteous', cursive;
    font-weight: 200;
}
.logo_container h1 span{
    font-weight: 100;

}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding:0px 20px;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.logo_image{
    width: 160px;
    height: 130px;
}
h1{
    text-align: center;
    right: 50%;
}
#custom-button{
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
}
#custom-button:hover{
    background-color: #00b28f;
}
#custom-text{
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}